        <hr>
        <table bgcolor='#ebdfab'> 
            <tr>
                <td>
                	<b>Пройденный путь:</b> 
                </td>
                <td>
                	{{ total_distance }}
                </td>
            </tr>
            <tr>
                <td>
                	<b>Общее время:</b>
                </td>
                <td>
                	{{ total_time }}
                </td>
            </tr>
            <tr>
                <td>
                	<b>Средняя скорость:</b>
                </td>
                <td>
                	{{ average_velocity }}
                </td>
            </tr>
        <table>
    
